<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBo4578xcbg7f6l2fYTuklo4wVagEP0oRM</string>
	<key>GCM_SENDER_ID</key>
	<string>297450037271</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doDreamYouth</string>
	<key>PROJECT_ID</key>
	<string>do-dream-youth</string>
	<key>STORAGE_BUCKET</key>
	<string>do-dream-youth.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:297450037271:ios:417d1f4195be92267d7c52</string>
</dict>
</plist>